/* reset option */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

/* general */

body {
    text-align: center  ;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
}

hr {
    vertical-align: middle;
    display: inline-block;
    width: 12%;
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
}

form {
    text-align: left;

}

label {
    font-weight:400;
    font-size: 20px;
    color: #334455;
}
input {
    border-width: 0 0 1px;
    border-color: lightgrey;
    margin: 5px 0px;
    width: 100%;
}

h1 {
    font-size: 55px;
    margin: 0;
    color: white;
    text-transform: uppercase;
}

h2 {
   
    font-size: 40px;
}

img{
    margin-bottom: 15px;
    width: 100%;
    border-radius: 15px;
}

textarea{
    border-width: 0 0 1px;
    border-color: lightgrey;
    margin: 5px 0px;
    width: 100%;
    display: block;
}

button{
    padding: 10px;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    background-color:#1abc9c;
    margin-top: 50px;
}

/* list - link style */
.list-style{
    vertical-align: middle;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    font-size: 25px;
    padding-right: 5px;
    color:white;
}

.link-style{
    padding: 0px 8px;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

/* text - align  */
.right{
    text-align: right;
}
.left{
    text-align: left;
}

/* only xs */
.only-xs{
    display: none;
}

/* header */

.header-top{
    line-height: 80px;
}

.jumbotron_{
    margin-bottom: 30px;
    padding-bottom: 40px;
    background-color:#1abc9c ;
}

#jumbotron-img{
    margin-top: 35px;
    width: 25%;
}

.h2-jumbotron{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}

.white{
    color: white;
    border-color: white;
}
.custom-color{
    border-color: #2c3e50;
    color: #2c3e50;

}

/* paragraphs */
.paragraph{
    margin-bottom: 15px;
    font-size: 19px;
    
}

.paragraph-2{
    font-size: 19px;
}


.container-width-60{
    width: 60%;
    margin: 0 auto;
}

.header-background,
.footer-bottom-background{
    
    background-color: #2c3e50;
}




.yellow{
   
    border: 2px solid black;
    background-color: lightgreen;
}

.yellow-2{
    padding: 0px 80px;
    height: 70px;
    margin-top: 50px;
    border: 2px solid black;
    background-color: yellow;

}



.star-line-height {
    line-height: 50px;
    margin-bottom: 10px;

}

.fa-star {
    vertical-align: middle;
    font-size: 28px;
    margin: 0px 28px;
}



/* main */

#section-1{
    padding-bottom: 50px;
}

#section-2{
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #1abc9c;

}

#section-3{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: white;

}
#submit{
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: #1abc9c;
    border-radius:10px;
    padding: 10px 20px;
    width: auto;
}

.padding-null{
    padding: 0;
}

/* footer */
footer {
    padding-top: 20px;
    background-color: #3a546d;  
}

.margin-footer-top {
    margin-top: 30px;
    margin-bottom: 70px;
}

.footer-top-background {
    
    background-color: #3a546d;
}

.h3-footer {
    text-transform: uppercase;
}

#address{
    font-size: 18px;
}


.social{
    font-size: 15px;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 15px;
}

.social-{
    font-size: 15px;
    color: white;
    margin: 2px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 15px 18px;
}

.green-strong-text{
    color: #1aba9b;
    
}

footer .paragraph{
    text-align: center;
}

#copyright{
    line-height: 100px;
}


footer a{
    margin: 2px;
}

@media screen and (max-width:767){

    
}


